
.swiper-section{
	overflow-x:hidden;
}

.swiper-wrapper{

}

.swiper-container {
	overflow:visible;
	.swiper-slide{
		opacity:.2;
		&.swiper-slide-active{
			opacity:1;
			padding:0 40px;
			@include breakpoint(md) {
				padding:0;
			}
		}
		.slide-inner{
			background: #FFFFFF;
			box-shadow: 0 12px 44px 0 rgba(1,11,28,0.16);
			border-radius: 10px;
			padding:0 40px;
			.swiper-content-wrapper{
				padding:$baseline*5;
				@include breakpoint(lg) {
					padding:$baseline;
					padding-left:0;
				}
				@include breakpoint(md) {
					padding:$baseline*2 $baseline;
					padding-left:0;
				}
			}
		}
	}
}

.swiper-button-prev,.swiper-button-next{
    background-color: $link-color;
    padding: 32px;
    border-radius: 100px;
    background-size:20%;
    margin-top:-35px;
}

.swiper-button-prev{
    background-image:url("../images/slider-nav-left.svg");
    @include breakpoint(md) {
    	margin-left:-40px;
    }
    @include breakpoint(sm) {
    	display:none!important;
    }
}

.swiper-button-next{
	background-image:url("../images/slider-nav-right.svg");
	@include breakpoint(md) {
    	margin-right:-40px;
    }
    @include breakpoint(sm) {
    	display:none!important;
    }
}

.swiper-pagination-bullets{
	    bottom: -60px!important;
	    .swiper-pagination-bullet{
	    	width:12px;
	    	height:12px;
	    }
}