%footer#primary-footer
	.container
		.row.align-items-center
			.col
				%img{:src=>"../images/footer-logo.svg"}
			.col
				%ul.nav.flex-column.float-right
					%li.nav-item.quarter-margin-bottom
						Questions? We're here to help
					%li.nav-item
						%i.material-icons.align-middle
							phone
						%a{:href=>"tel:3333333333"}
							888-404-7996
					%li.nav-item
						%i.material-icons.align-middle
							email
						%a{:href=>"mailto:info@evercheck.com"}
							info@evercheck.com
