#primary-nav
	.container
		.row.align-items-center
			.col
				%img{:src=>"../images/logo.svg"}
			.col
				%ul.nav.justify-content-end.align-items-center
					%li.nav-item
						%a.nav-link{:href=>"#"}
							Sign in
					%li.nav-item
						%a.nav-link{:href=>"#"}
							Help
					%li.nav-item.margin-left
						%a.btn.btn-primary.btn-lg{:href=>"#"}
							Get started
