@keyframes menu-zoom {

	0% {
	    opacity: 0;
	    -webkit-transform: translateY(-24px) scale3d(.9,.9,.9);
	    transform: translateY(-24px) scale3d(.9,.9,.9);
	}

	50% {
	    opacity: 1;
	}

}

@keyframes masthead-caption {

	0% {
		opacity: 0;
	    transform: scale(1.2) translateY(-35px);
	}

	100% {
		opacity: 1;
	    transform: scale(1) translateY(0);
	}
}

