.get-evercheck-teaser{

	background: $primary-color; 
	box-shadow: 0 15px 44px 0 rgba(1,11,28,0.25);

	h3,p{
		color:white;
	}

	border-radius: 34px;
	.content-wrapper{
		padding:0 40px;
	}

	@include breakpoint(md) {
		padding:40px 0;
	}
}


.verifications{
	padding-top:$baseline*14;
	background:url("../images/verification-bg.png") top repeat-x;
}


.portfolio{
	background:url("../images/port-bg.svg") center -300px  no-repeat;
	padding-bottom:$baseline*18;
	@include breakpoint(sm) {
		padding-bottom:$baseline*6;
	}
}