@import url(../bower_components/node_modules/bootstrap/dist/css/bootstrap.min.css);
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i|Open+Sans:400,400i,600,600i");
@media (max-width: 768px) {
  .no-padding-top-sm {
    padding-top: 0; } }
section.inverse-section h1, .card .card-header.inverse-header h1, #partner h1, section.inverse-section h2, .card .card-header.inverse-header h2, #partner h2, section.inverse-section h3, .card .card-header.inverse-header h3, #partner h3, section.inverse-section h4, .card .card-header.inverse-header h4, #partner h4, section.inverse-section h5, .card .card-header.inverse-header h5, #partner h5, section.inverse-section h6, .card .card-header.inverse-header h6, #partner h6, section.inverse-section p, .card .card-header.inverse-header p, #partner p, section.inverse-section small, .card .card-header.inverse-header small, #partner small, section.inverse-section li, .card .card-header.inverse-header li, #partner li {
  color: white !important; }

* {
  margin: 0;
  padding: 0; }

html {
  max-width: 100%;
  overflow-x: hidden; }

body {
  font: 100%;
  font-size: 16px;
  color: #424651;
  -webkit-text-size-adjust: 100%;
  width: 100%;
  line-height: 28px;
  height: 100%;
  text-rendering: optimizeLegibility;
  zoom: 1;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #fff;
  position: relative;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

.flex {
  display: flex; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* html .clearfix {
  zoom: 1; }

/* IE6 */
*:first-child + html .clearfix {
  zoom: 1; }

/* IE7 */
.flex {
  display: flex; }

.eq {
  flex: 1; }

img {
  height: auto; }

.base-line-height {
  line-height: 16px; }

.small-line-height {
  line-height: 18px; }

.full-width {
  width: 100%; }

.max-width {
  max-width: 100%; }

.display-block {
  display: block; }

.inline-block {
  display: inline-block; }

.inline {
  display: inline; }

.light-bg-color {
  background: #F8F8F5; }

.primary-bg-color {
  background: #40CC79; }

.primary-light-bg-color {
  background: #EFF8F6; }

.off-white-bg-color {
  background: #F5F7F9 !important; }

@font-face {
  font-family: 'socialicoregular';
  src: url("../font/socialico-webfont.eot");
  src: url("../font/socialico-webfont.eot?#iefix") format("embedded-opentype"), url("../font/socialico-webfont.woff") format("woff"), url("../font/socialico-webfont.ttf") format("truetype"), url("../font/socialico-webfont.svg#socialicoregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'socialico_plusregular';
  src: url("../font/socialico_plus-webfont.woff2") format("woff2"), url("../font/socialico_plus-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

.text-uppercase {
  text-transform: uppercase; }

.extra-light-text-color {
  color: #A19DB0; }

.light-text-color {
  color: #858C92; }

.text-color {
  color: #424651; }

.dark-text-color {
  color: #191A21; }

.white-text-color {
  color: white; }

.text-success {
  color: #26C164; }

.text-warning {
  color: #FFAA00; }

.text-danger {
  color: #FF4E4A; }

.link-color {
  color: #40CC79; }

.regular-font {
  font-weight: 400; }

.medium-font {
  font-weight: 600; }

.bold-font {
  font-weight: 700; }

.extra-bold-font {
  font-weight: 800; }

.body-font-name {
  font-family: "Open Sans", sans-serif; }

.regular-font-name {
  font-family: "Montserrat", sans-serif; }

.social-font-name {
  font-family: "socialicoregular", "Helvetica", serif; }

.primary-text-color {
  color: #40CC79 !important; }

.secondary-text-color {
  color: #424651 !important; }

.micro-text {
  font-size: 0.7rem; }

h1 {
  font-size: 80px;
  line-height: 96px;
  font-family: "Montserrat", sans-serif; }
  @media (max-width: 992px) {
    h1 {
      font-size: 55px;
      line-height: 60px; } }
  @media (max-width: 768px) {
    h1 {
      font-size: 47px;
      line-height: 50px; } }

h2 {
  font-size: 40px;
  line-height: 48px;
  font-family: "Montserrat", sans-serif; }

h3 {
  font-size: 36px;
  line-height: 40px;
  font-family: "Montserrat", sans-serif; }

h4 {
  font-size: 32px;
  line-height: 40px;
  font-family: "Montserrat", sans-serif; }

h5 {
  font-size: 24px;
  line-height: 32px;
  font-family: "Montserrat", sans-serif; }

h6 {
  font-size: 12px;
  line-height: 16px;
  font-family: "Montserrat", sans-serif; }

p.body-large {
  font-size: 20px;
  line-height: 32px; }

p.body-small {
  font-size: 14px;
  line-height: 20px; }

.line-above:before {
  content: "";
  background: #858C92;
  position: absolute;
  top: -10px;
  left: 0;
  width: 30px;
  height: 1px; }

.border-flourish {
  width: 50%;
  height: 3px;
  margin: 0 auto;
  background-color: #EDEDED;
  margin-top: 55px; }

.border-flourish-below {
  width: 52px;
  height: 3px;
  background-color: #EDEDED;
  margin-top: 20px;
  margin-bottom: 20px; }

a {
  color: #40CC79; }
  a:active, a:focus {
    outline: none;
    box-shadow: none; }
  a:hover {
    color: #79dba1;
    text-decoration: none; }

.link-underline {
  border-bottom: 1px solid #40CC79;
  padding-bottom: 2px; }

.btn {
  border-radius: 3px;
  font-weight: 600;
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
  min-width: 219px; }
  .btn i {
    font-size: 17px;
    position: relative;
    top: 3px;
    margin-right: 10px; }
  .btn.btn-primary {
    background: #40CC79;
    border-color: #40CC79; }
    .btn.btn-primary:hover {
      background: #3dc273;
      border-color: #3dc273; }
  .btn.btn-secondary {
    background: white;
    border-color: #B4BBC6;
    color: #424651; }
    .btn.btn-secondary:hover {
      border-color: #121314; }
  .btn.btn-danger {
    background: #FF4E4A;
    border-color: #FF4E4A; }
    .btn.btn-danger:hover {
      background: #f24a46;
      border-color: #f24a46; }
  .btn.btn-success {
    background: #26C164;
    border-color: #26C164; }
    .btn.btn-success:hover {
      background: #24b75f;
      border-color: #24b75f; }
  .btn.btn-warning {
    background: #FFAA00;
    border-color: #FFAA00;
    color: white; }
    .btn.btn-warning:hover {
      background: #f2a200;
      border-color: #f2a200; }
  .btn.btn-flat {
    background: transparent;
    border-color: white;
    color: #424651; }
    .btn.btn-flat:hover {
      background: #f2f2f2;
      border-color: #f2f2f2; }
  .btn.btn-link {
    color: #40CC79; }
    .btn.btn-link:hover {
      color: #3ab86d; }
  .btn.btn-icon {
    line-height: 1; }
    .btn.btn-icon i {
      color: #B4BBC6; }
    .btn.btn-icon:hover i, .btn.btn-icon:focus i {
      color: #121314; }
  .btn.btn-outline-light:hover {
    color: #40CC79; }
  .btn.btn-outline-primary {
    color: #40CC79;
    border-color: #40CC79; }
    .btn.btn-outline-primary:hover {
      background: #40CC79;
      color: white; }
    .btn.btn-outline-primary:active {
      border-color: #40CC79;
      background: #267a49 !important; }
  .btn.btn-light {
    color: #40CC79;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.04);
    background: #fff;
    border: none; }
    .btn.btn-light:hover {
      background: #F5F7F9;
      border: none; }
  .btn.btn-dark {
    background: #424651; }
    .btn.btn-dark:hover {
      background: black !important; }
  .btn.btn-lg {
    padding: .8rem 1rem; }
  .btn.btn-scroll {
    color: rgba(255, 255, 255, 0.5); }
    .btn.btn-scroll:hover {
      color: white; }
    .btn.btn-scroll i {
      font-size: 52px; }
    .btn.btn-scroll:active, .btn.btn-scroll:focus {
      outline: none;
      box-shadow: none; }
  .btn.btn-outline-light {
    color: white !important; }
    .btn.btn-outline-light.active {
      background: transparent !important; }
    .btn.btn-outline-light:hover {
      color: #40CC79 !important;
      background: white !important; }

.margin-auto {
  margin: 0 auto; }

.margin {
  margin: 16px !important; }

.margin-top {
  margin-top: 16px !important; }

.margin-right {
  margin-right: 16px !important; }

.margin-bottom {
  margin-bottom: 16px !important; }

.margin-left {
  margin-left: 16px !important; }

.double-margin-top {
  margin-top: 32px !important; }

.double-margin-right {
  margin-right: 32px !important; }

.double-margin-bottom {
  margin-bottom: 32px !important; }

.double-margin-left {
  margin-left: 32px !important; }

.triple-margin-top {
  margin-top: 48px !important; }

.triple-margin-right {
  margin-right: 48px !important; }

.triple-margin-bottom {
  margin-bottom: 48px !important; }

.triple-margin-left {
  margin-left: 48px !important; }

.half-margin-top {
  margin-top: 8px !important; }

.half-margin-right {
  margin-right: 8px !important; }

.half-margin-bottom {
  margin-bottom: 8px !important; }

.half-margin-left {
  margin-left: 8px !important; }

.quarter-margin-top {
  margin-top: 4px !important; }

.quarter-margin-right {
  margin-right: 4px !important; }

.quarter-margin-bottom {
  margin-bottom: 4px !important; }

.quarter-margin-left {
  margin-left: 4px !important; }

.no-margin {
  margin: 0px !important; }

.no-margin-top {
  margin-top: 0px !important; }

.no-margin-right {
  margin-right: 0px !important; }

.no-margin-bottom {
  margin-bottom: 0px !important; }

.no-margin-left {
  margin-left: 0px !important; }

.large-margin-top {
  margin-top: 48px !important; }

.padded {
  padding: 16px !important; }

.padding-top {
  padding-top: 16px !important; }

.padding-right {
  padding-right: 16px !important; }

.padding-bottom {
  padding-bottom: 16px !important; }

.padding-left {
  padding-left: 16px !important; }

.double-padded {
  padding: 32px !important; }

.double-padding-top {
  padding-top: 32px !important; }

.double-padding-right {
  padding-right: 32px !important; }

.double-padding-bottom {
  padding-bottom: 32px !important; }

.double-padding-left {
  padding-left: 32px !important; }

.triple-padding-top {
  padding-top: 48px !important; }

.triple-padding-right {
  padding-right: 48px !important; }

.triple-padding-bottom {
  padding-bottom: 48px !important; }

.triple-padding-left {
  padding-left: 48px !important; }

.no-padding {
  padding: 0px !important; }

.no-padding-top {
  padding-top: 0px !important; }

.no-padding-right {
  padding-right: 0px !important; }

.no-padding-bottom {
  padding-bottom: 0px !important; }

.no-padding-left {
  padding-left: 0px !important; }

.half-padding {
  padding: 8px !important; }

.half-padding-top {
  padding-top: 8px !important; }

.half-padding-right {
  padding-right: 8px !important; }

.half-padding-bottom {
  padding-bottom: 8px !important; }

.half-padding-left {
  padding-left: 8px !important; }

.quarter-padding {
  padding: 4px !important; }

.quarter-padding-top {
  padding-top: 4px !important; }

.quarter-padding-right {
  padding-right: 4px !important; }

.quarter-padding-bottom {
  padding-bottom: 4px !important; }

.quarter-padding-left {
  padding-left: 4px !important; }

.no-border-top {
  border-top: none !important; }

.no-border-bottom {
  border-bottom: none !important; }

section {
  padding: 96px 0; }
  @media (max-width: 768px) {
    section {
      padding: 96px 0; } }
  section.inverse-section {
    background: #40CC79; }
    section.inverse-section .line-above:before {
      background: rgba(255, 255, 255, 0.5); }

ol.breadcrumb {
  background: transparent;
  padding-left: 0; }
  ol.breadcrumb li.breadcrumb-item {
    font-size: 12pt; }

ul.social-menu {
  list-style: none;
  display: inline-block;
  margin-bottom: 0;
  float: left; }
  ul.social-menu li {
    float: left;
    font-size: 53px;
    line-height: 1em;
    padding-right: 2px; }
    ul.social-menu li a {
      -webkit-transition-duration: 0.1s;
      -moz-transition-duration: 0.1s;
      -ms-transition-duration: 0.1s;
      -o-transition-duration: 0.1s;
      transition-duration: 0.1s;
      color: #424651;
      border: none; }
      ul.social-menu li a:hover, ul.social-menu li a:focus {
        color: black;
        text-decoration: none; }

ul.side-nav-primary {
  background: #40CC79;
  padding: 10px 10px; }
  ul.side-nav-primary li {
    font-size: 12pt;
    text-transform: uppercase;
    display: block; }
    ul.side-nav-primary li:last-of-type a {
      border-bottom: none; }
    ul.side-nav-primary li a {
      -webkit-transition-duration: 0.2s;
      -moz-transition-duration: 0.2s;
      -ms-transition-duration: 0.2s;
      -o-transition-duration: 0.2s;
      transition-duration: 0.2s;
      color: white;
      display: block;
      padding: 10px 10px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
      ul.side-nav-primary li a:hover {
        background-color: #33a361; }
    ul.side-nav-primary li.active a {
      font-weight: 700; }
    ul.side-nav-primary li ul li {
      text-transform: none; }
      ul.side-nav-primary li ul li:last-of-type a {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
      ul.side-nav-primary li ul li a {
        padding: 5px 10px;
        padding-left: 30px;
        background: url("../images/chevron-white.svg") 10px center no-repeat; }

.sublink-nav a.nav-item {
  margin: 10px 0;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 1px;
  wodth: 100%;
  display: block;
  font-weight: 600;
  border-bottom: 1px solid #424651;
  background: url("../images/chevron-purple.svg") right center no-repeat; }

ul.pagination li a {
  color: #40CC79; }

:target:before {
  content: "";
  display: block;
  height: 240px;
  /* fixed header height*/
  margin: -240px 0 0;
  /* negative fixed header height */ }

.video-modal .modal-dialog {
  max-width: 900px;
  margin: 60px auto; }
.video-modal .modal-body {
  position: relative;
  padding: 0px; }
.video-modal .close {
  position: absolute;
  right: -30px;
  top: 0;
  z-index: 999;
  font-size: 2rem;
  font-weight: normal;
  color: #fff;
  opacity: 1; }

.form-control-lg, .input-group-lg > .form-control, .input-group-lg > .input-group-append > .btn, .input-group-lg > .input-group-append > .input-group-text, .input-group-lg > .input-group-prepend > .btn, .input-group-lg > .input-group-prepend > .input-group-text {
  border-radius: 0px;
  border-color: #EDEDED; }

.form-control::-webkit-input-placeholder {
  color: #C2C5C8; }

/* WebKit, Blink, Edge */
.form-control:-moz-placeholder {
  color: #C2C5C8; }

/* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder {
  color: #C2C5C8; }

/* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder {
  color: #C2C5C8; }

/* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder {
  color: #C2C5C8; }

/* Microsoft Edge */
label {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600; }

.primary-promo {
  background: #40CC79 url("../images/promo-bg.png") top center no-repeat !important;
  background-size: 100% !important; }

.card {
  background: #FFFFFF;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 8px; }
  .card .card-header.inverse-header hr {
    border-color: rgba(255, 255, 255, 0.2); }
  .card .card-header.primary-header {
    background: #40CC79; }
  .card .card-header.secondary-header {
    background: #42A5F5; }
  .card .card-body {
    padding: 32px; }
  .card .card-footer.no-styling {
    background: white;
    border: none; }
  .card .card-link {
    text-transform: uppercase;
    letter-spacing: .5px;
    font-size: .9rem;
    font-weight: 600; }
  .card .card-icon {
    position: absolute;
    top: -65px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100px; }
  .card.elevation-2 {
    box-shadow: 0 11px 34px 0 rgba(0, 0, 0, 0.04), 0 7px 34px 0 rgba(0, 0, 0, 0.07); }
  .card.elevation-0 {
    box-shadow: none; }

.resource-card {
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  min-height: 350px; }
  .resource-card .card-body {
    padding: 20px 10px; }
    .resource-card .card-body h4 {
      font-size: 16px;
      letter-spacing: 1px;
      font-weight: 600; }
    .resource-card .card-body p {
      font-weight: 600;
      font-size: 18px;
      line-height: 26px;
      color: #424651 !important; }
  .resource-card .card-footer {
    background: none;
    border: none; }
  .resource-card:hover {
    box-shadow: 0 12px 23px 0 rgba(0, 0, 0, 0.1); }

.service-card a.card-link {
  border-bottom: 1px solid #40CC79;
  font-size: 15px;
  padding-bottom: 5px; }

.industry-cards {
  padding-top: 116px; }
  @media (max-width: 992px) {
    .industry-cards {
      text-align: center; } }
  @media (max-width: 992px) {
    .industry-cards {
      padding-top: 0px; } }
  .industry-cards .card {
    background: #F8F8F5;
    border: none;
    box-shadow: none; }
    @media (max-width: 992px) {
      .industry-cards .card {
        margin-top: 100px; } }
    @media (max-width: 768px) {
      .industry-cards .card {
        flex: 1 100%; } }
  .industry-cards .card-footer {
    border: none;
    background: transparent; }

.card-grid-card {
  margin-bottom: 20px; }

.shadowed-card-link {
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s; }
  .shadowed-card-link:hover {
    box-shadow: 0 12px 23px 0 rgba(0, 0, 0, 0.1); }
    .shadowed-card-link:hover .card-title {
      color: #40CC79;
      text-decoration: underline;
      -webkit-transition-duration: 0.2s;
      -moz-transition-duration: 0.2s;
      -ms-transition-duration: 0.2s;
      -o-transition-duration: 0.2s;
      transition-duration: 0.2s; }

.people-cards a {
  display: block; }
  .people-cards a .card {
    min-height: 450px; }
    @media (max-width: 768px) {
      .people-cards a .card {
        min-height: auto; } }
    .people-cards a .card i.mail-link {
      color: #191A21; }

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%; }
  .avatar.avatar-xs {
    width: 30px;
    height: 30px; }

.video-thumbnail {
  box-shadow: 0 11px 34px 0 rgba(0, 0, 0, 0.04), 0 7px 34px 0 rgba(0, 0, 0, 0.07);
  border-radius: 8px; }

#primary-nav {
  background: white;
  padding: 17px 0;
  box-shadow: 0 2px 60px 0 rgba(50, 83, 63, 0.31);
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; }
  #primary-nav .navbar-nav .dropdown:hover > .dropdown-menu {
    display: block; }
  #primary-nav .nav-item .dropdown-menu {
    top: 30px; }
  @media (max-width: 992px) {
    #primary-nav {
      padding: 10px 15px;
      -webkit-transition-duration: 0s;
      -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
      -o-transition-duration: 0s;
      transition-duration: 0s; }
      #primary-nav .navbar-brand {
        margin: 0; }
        #primary-nav .navbar-brand img {
          width: 150px; } }
  #primary-nav .contact-button {
    padding-right: 1rem;
    padding-left: 1rem;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 700; }
  #primary-nav .navbar-brand {
    position: relative;
    top: -4px;
    margin-right: 40px; }
  #primary-nav .navbar-nav .nav-item {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 28px;
    font-family: "Montserrat", sans-serif; }
    #primary-nav .navbar-nav .nav-item a {
      -webkit-transition-duration: 0.2s;
      -moz-transition-duration: 0.2s;
      -ms-transition-duration: 0.2s;
      -o-transition-duration: 0.2s;
      transition-duration: 0.2s; }
      #primary-nav .navbar-nav .nav-item a.nav-link {
        color: #191A21;
        padding: 2px 0;
        margin: 0 15px; }
        #primary-nav .navbar-nav .nav-item a.nav-link:hover {
          color: #40CC79; }
        #primary-nav .navbar-nav .nav-item a.nav-link .material-icons {
          color: #40CC79;
          font-size: 18px;
          marign: 0;
          padding: 0;
          position: relative;
          top: 5px; }
    #primary-nav .navbar-nav .nav-item .dropdown-menu {
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.04);
      border-radius: 3px;
      border: none; }
      #primary-nav .navbar-nav .nav-item .dropdown-menu a.dropdown-item {
        font-size: 13px;
        font-weight: normal; }
  #primary-nav.navbar-page-top {
    background: transparent;
    box-shadow: none; }
    #primary-nav.navbar-page-top a.sign-in {
      color: white !important; }
    #primary-nav.navbar-page-top .create-account-button {
      background: white;
      color: #40CC79;
      border: none; }
    @media (max-width: 992px) {
      #primary-nav.navbar-page-top {
        background: white; } }

html.nav-open .mobile-menu {
  visibility: visible; }
html.nav-open #primary-nav {
  background: transparent !important;
  box-shadow: none; }
  html.nav-open #primary-nav .navbar-brand {
    opacity: 0; }

.toggle-menu-button {
  position: relative; }

.mobile-menu {
  width: 100%;
  position: fixed;
  height: 100%;
  background: #40CC79;
  top: 0;
  z-index: 999;
  visibility: hidden;
  padding-top: 100px; }
  .mobile-menu .call-us {
    position: absolute;
    top: 30px;
    text-align: center;
    width: 100%;
    font-weight: 700;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.8); }
  .mobile-menu a {
    color: white; }
  .mobile-menu .navbar-nav .btn {
    width: 200px;
    margin: 0 auto; }
  .mobile-menu .navbar-nav .nav-item {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 42px;
    margin-bottom: 30px; }
    .mobile-menu .navbar-nav .nav-item a {
      color: white; }
      .mobile-menu .navbar-nav .nav-item a:hover {
        color: rgba(255, 255, 255, 0.8) !important; }

.tcon-transform .tcon-menu__lines::before, .tcon-transform .tcon-menu__lines::after {
  background: white !important; }

.tcon {
  appearance: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  transition: 0.3s;
  user-select: none;
  width: 24px;
  background: transparent;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }
  .tcon > * {
    display: block; }
  .tcon:hover, .tcon:focus {
    outline: none; }
  .tcon::-moz-focus-inner {
    border: 0; }

.tcon-menu__lines {
  display: inline-block;
  height: 1.71429px;
  width: 24px;
  border-radius: 1.71429px;
  transition: 0.3s;
  background: #40CC79;
  position: relative; }
  .tcon-menu__lines::before, .tcon-menu__lines::after {
    display: inline-block;
    height: 1.71429px;
    width: 24px;
    border-radius: 1.71429px;
    transition: 0.3s;
    background: #40CC79;
    content: '';
    position: absolute;
    left: 0;
    transform-origin: 1.71429px center;
    width: 100%; }
  .tcon-menu__lines::before {
    top: 6px; }
  .tcon-menu__lines::after {
    top: -6px; }
  .tcon-transform .tcon-menu__lines {
    transform: scale3d(0.8, 0.8, 0.8); }

.tcon-menu--xcross {
  width: auto; }
  .tcon-menu--xcross.tcon-transform .tcon-menu__lines {
    background: transparent; }
    .tcon-menu--xcross.tcon-transform .tcon-menu__lines::before, .tcon-menu--xcross.tcon-transform .tcon-menu__lines::after {
      transform-origin: 50% 50%;
      top: 0;
      width: 24px; }
    .tcon-menu--xcross.tcon-transform .tcon-menu__lines::before {
      transform: rotate3d(0, 0, 1, 45deg); }
    .tcon-menu--xcross.tcon-transform .tcon-menu__lines::after {
      transform: rotate3d(0, 0, 1, -45deg); }

.tcon-visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .tcon-visuallyhidden:active, .tcon-visuallyhidden:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

footer#primary-footer {
  padding: 48px 0 32px 0;
  padding-bottom: 80px;
  background: #424651; }
  footer#primary-footer hr {
    border-color: rgba(255, 255, 255, 0.1); }
  footer#primary-footer p {
    font-family: "Montserrat", sans-serif;
    margin-bottom: 8px; }
    @media (max-width: 992px) {
      footer#primary-footer p.body-large {
        font-size: 16px;
        line-height: 24px; } }
  footer#primary-footer ul.footer-list li {
    font-size: 14px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.8); }
    footer#primary-footer ul.footer-list li a {
      -webkit-transition-duration: 0.2s;
      -moz-transition-duration: 0.2s;
      -ms-transition-duration: 0.2s;
      -o-transition-duration: 0.2s;
      transition-duration: 0.2s;
      color: rgba(255, 255, 255, 0.8); }
      footer#primary-footer ul.footer-list li a:hover {
        color: white; }
  footer#primary-footer ul.social-list li {
    font-size: 35px;
    margin: 0; }

.main-hero {
  padding-top: 160px;
  background: url("../images/main-header-bg.svg") no-repeat top right; }
  .main-hero img.hero-img {
    position: relative;
    top: -20px; }
  @media (max-width: 1200px) {
    .main-hero {
      background-position-x: 550px; }
      .main-hero img.hero-img {
        width: 440px;
        top: 0px; } }
  @media (max-width: 992px) {
    .main-hero {
      background-position-x: 400px; }
      .main-hero img.hero-img {
        width: 420px;
        left: 10px; }
      .main-hero .btn {
        margin: 0 !important;
        margin-bottom: 16px !important; } }
  @media (max-width: 768px) {
    .main-hero {
      padding-top: 128px;
      padding-bottom: none;
      text-align: center;
      background-image: none; }
      .main-hero img.hero-img {
        margin-top: 32px;
        max-width: 100%; }
      .main-hero .btn {
        width: 100%; } }

#intro {
  padding-bottom: 32px; }

@media (max-width: 768px) {
  #why {
    padding-top: 0; } }

.why-cards .card {
  min-height: 384px; }
  @media (max-width: 1200px) {
    .why-cards .card {
      min-height: 412px; } }
  @media (max-width: 992px) {
    .why-cards .card {
      min-height: 528px; } }
  @media (max-width: 768px) {
    .why-cards .card {
      min-height: auto;
      margin-bottom: 32px; } }

@media (max-width: 768px) {
  #tools {
    padding-top: 0; } }

.tools-slider {
  position: relative; }
  .tools-slider .tools-text {
    position: absolute;
    top: 60px;
    z-index: 999;
    width: 100%;
    color: white; }
  .tools-slider .carousel-inner {
    margin: 0 auto;
    position: relative;
    overflow: visible; }
    .tools-slider .carousel-inner .carousel-item {
      background: url("../images/bg-tools-accent-primary.svg") no-repeat top center;
      background-size: 100%;
      -webkit-transition-duration: 0.4s;
      -moz-transition-duration: 0.4s;
      -ms-transition-duration: 0.4s;
      -o-transition-duration: 0.4s;
      transition-duration: 0.4s;
      padding-top: 180px; }
    .tools-slider .carousel-inner .carousel-caption {
      bottom: 120px; }
      @media (max-width: 992px) {
        .tools-slider .carousel-inner .carousel-caption {
          bottom: 230px; } }
      .tools-slider .carousel-inner .carousel-caption p {
        padding: 5px 20px;
        background: #40CC79;
        border-radius: 100px;
        text-align: center;
        display: inline-flex;
        font-size: 14px; }
    .tools-slider .carousel-inner .img-container {
      position: relative;
      padding-bottom: 210px;
      max-width: 320px;
      text-align: center;
      margin: 0 auto; }
      @media (max-width: 992px) {
        .tools-slider .carousel-inner .img-container {
          padding-bottom: 320px;
          max-width: 270px; } }
  .tools-slider .carousel-indicators, .tools-slider .tool-slider-indicators {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    bottom: 0; }
  .tools-slider .tool-icon {
    text-align: center;
    cursor: pointer;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    color: #858C92; }
    .tools-slider .tool-icon img {
      -webkit-transition-duration: 0.2s;
      -moz-transition-duration: 0.2s;
      -ms-transition-duration: 0.2s;
      -o-transition-duration: 0.2s;
      transition-duration: 0.2s;
      opacity: .8;
      margin-bottom: 5px; }
    .tools-slider .tool-icon:hover, .tools-slider .tool-icon.active {
      color: #191A21; }
      .tools-slider .tool-icon:hover img, .tools-slider .tool-icon.active img {
        opacity: 1; }
    @media (max-width: 992px) {
      .tools-slider .tool-icon img {
        width: 60px; } }

#howSlider {
  padding-top: 16px; }
  #howSlider .carousel-item .img-container img {
    width: 580px; }
    @media (max-width: 992px) {
      #howSlider .carousel-item .img-container img {
        width: 420px; } }
    @media (max-width: 768px) {
      #howSlider .carousel-item .img-container img {
        width: 320px; } }
  #howSlider .carousel-indicators {
    position: relative;
    width: 100%;
    bottom: 0;
    margin: 0;
    padding: 0;
    display: inline-block;
    padding: 20px;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s; }
    #howSlider .carousel-indicators .how-indicator {
      width: 100%;
      padding: 10px 20px;
      margin-bottom: 16px;
      cursor: pointer;
      -webkit-transition-duration: 0.2s;
      -moz-transition-duration: 0.2s;
      -ms-transition-duration: 0.2s;
      -o-transition-duration: 0.2s;
      transition-duration: 0.2s; }
      #howSlider .carousel-indicators .how-indicator p {
        margin: 0; }
      #howSlider .carousel-indicators .how-indicator.active {
        margin-left: -20px; }
      #howSlider .carousel-indicators .how-indicator.active, #howSlider .carousel-indicators .how-indicator:hover {
        background: #42A5F5;
        color: white; }
      @media (max-width: 992px) {
        #howSlider .carousel-indicators .how-indicator {
          padding: 5px 10px; }
          #howSlider .carousel-indicators .how-indicator p {
            font-size: 14px; } }
      @media (max-width: 768px) {
        #howSlider .carousel-indicators .how-indicator {
          margin-bottom: 10px; } }

@media (max-width: 768px) {
  #story {
    padding-top: 16px; }
    #story img {
      margin-bottom: 32px; } }

@media (max-width: 992px) {
  #name {
    padding-bottom: 128px; } }
@media (max-width: 768px) {
  #name {
    padding-top: 0;
    padding-bottom: 64px;
    text-align: center; }
    #name img {
      width: 300px;
      margin: 0 auto; } }

#contact {
  padding-top: 32px; }
  @media (max-width: 768px) {
    #contact {
      padding-top: 64px; }
      #contact img {
        margin-top: 32px; } }
  #contact h1 {
    position: relative;
    top: -80px; }
    @media (max-width: 768px) {
      #contact h1 {
        top: 0;
        padding-bottom: 16px; } }
  @media (max-width: 992px) {
    #contact p {
      font-size: 16px;
      line-height: 24px; } }
  #contact p.location-title {
    padding-top: 32px; }
    @media (max-width: 1200px) {
      #contact p.location-title {
        padding-top: 8px; } }
    @media (max-width: 992px) {
      #contact p.location-title {
        padding-top: 0; } }
  #contact img {
    border-radius: 8px; }

#partner {
  background: #9A7DFF; }
  #partner .btn-light {
    color: #9A7DFF; }

.page-hero {
  background-size: cover;
  position: relative;
  background-color: white;
  background-repeat: no-repeat; }
  @media (max-width: 992px) {
    .page-hero {
      padding: 16px 0; } }

.mark-effect:before {
  content: "";
  background: url("../images/mountains-2.svg");
  width: 489px;
  height: 168px;
  position: absolute;
  right: 20px;
  bottom: -20px; }

.page-hero-offset {
  background-position-x: 200px; }
  @media (max-width: 992px) {
    .page-hero-offset {
      background-position-x: center; } }

.page-hero-offset-sm {
  background-position-x: 100px; }

.hero-text-container {
  background: white;
  padding: 32px; }

@keyframes menu-zoom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-24px) scale3d(0.9, 0.9, 0.9);
    transform: translateY(-24px) scale3d(0.9, 0.9, 0.9); }
  50% {
    opacity: 1; } }
@keyframes masthead-caption {
  0% {
    opacity: 0;
    transform: scale(1.2) translateY(-35px); }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0); } }
.blog-styles p {
  font-size: 13pt;
  line-height: 21pt; }
.blog-styles h1, .blog-styles h2, .blog-styles h3, .blog-styles h4, .blog-styles h5, .blog-styles h6 {
  margin-bottom: 16px;
  margin-top: 32px;
  font-weight: 600; }
.blog-styles ul {
  padding-top: .5rem;
  padding-bottom: .5rem;
  list-style: none; }
  .blog-styles ul li {
    padding-left: 20px;
    background: url("../images/chevron-purple.svg") left 5px no-repeat;
    margin-bottom: 16px;
    font-size: 13pt;
    line-height: 18px; }

#blog-featured .blog-thumb {
  padding: 16px;
  margin-bottom: 32px; }
  @media (max-width: 992px) {
    #blog-featured .blog-thumb {
      padding: 0;
      padding-bottom: 32px;
      text-align: center; }
      #blog-featured .blog-thumb .btn {
        text-align: center !important; }
      #blog-featured .blog-thumb p {
        font-size: 18px;
        line-height: 24px; } }
  #blog-featured .blog-thumb a p {
    color: #424651;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s; }
    #blog-featured .blog-thumb a p:hover {
      color: #40CC79; }

#blog-index {
  padding-top: 128px; }
  @media (max-width: 992px) {
    #blog-index .card-columns {
      column-count: 2; } }
  @media (max-width: 768px) {
    #blog-index .card-columns {
      column-count: 1; } }

a.blog-thumb {
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  margin-top: 10px; }
  a.blog-thumb img {
    overflow: visible; }
  a.blog-thumb p {
    color: #858C92 !important; }
  a.blog-thumb:hover {
    transform: translate(0, -10px);
    transition-delay: 0s !important; }

@media (max-width: 768px) {
  #pricing-hero {
    padding-top: 96px; }
    #pricing-hero .account-options {
      margin-bottom: 48px; }
    #pricing-hero .form-group {
      text-align: left; } }

ul.pricing-list {
  width: 100%; }
  ul.pricing-list li {
    border-bottom: 1px solid #EDEDED;
    padding: 8px 0;
    vertical-align: middle; }
    ul.pricing-list li p {
      margin-bottom: 0;
      display: inline-block;
      vertical-align: middle; }
      ul.pricing-list li p i {
        margin-right: 10px;
        position: relative;
        top: 3px; }
    ul.pricing-list li:last-of-type {
      border: none; }

@media (max-width: 768px) {
  .pricing-card-deck {
    flex-direction: column; }
    .pricing-card-deck .card {
      margin-bottom: 15px; } }

.pricing-feature {
  background: #F5F7F9;
  margin-bottom: 16px;
  padding: 16px; }

.price-indicator {
  position: relative;
  display: inline-block;
  right: 38px; }
  .price-indicator h1 {
    font-size: 80px !important;
    font-weight: 700;
    margin-bottom: 0; }
    .price-indicator h1 .dollar-symbol {
      font-size: 32px;
      position: absolute;
      top: -13px;
      left: -20px; }
    .price-indicator h1 .per {
      font-size: 32px;
      position: absolute;
      top: 13px;
      left: 96px; }

#price-panel {
  background: #EFF8F6 url("../images/price-panel-bg.png") no-repeat center center;
  background-size: 100%; }
  @media (max-width: 992px) {
    #price-panel .pricing-feature {
      text-align: center; } }
